{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>{% block title %}ASDTech!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="Hadi Mini">
        <!--
        Visual Admin Template
        http://www.templatemo.com/preview/templatemo_455_visual_admin
        -->
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
{#	    <link href="{% static 'portal/css/font-awesome.min.css' %}" rel="stylesheet">#}
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav.png' %}">

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body class="templatemo-black-bg">
		{% block body %}{% endblock %}
	</body>
</html>