{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>{% block title %}ASDTech!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="Hadi Mini">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav.png' %}">

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body class="templatemo-black-bg">
    {% block body %}{% endblock %}
    {% csrf_token %}
     <!-- JavaScript Libraries -->
    {% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(
            // Django csrf token setup
            function(){
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                // reset filter sessions
                $.ajax({
                    url: "{% url 'filter_reset' %}",
                    success: function(res){
                        console.log(res)
                    }
                });

                // Datepicker
                $( ".datepicker" ).datepicker({
                    changeYear: true,
                    onSelect: function (date) {
                        $.ajax({
                            url: "{% url 'filter' %}",
                            type: 'get',
                            data: {
                                'date': date,
                                'date_type': $(this).prop('id'),
                            },
                            success: function(res){
                            $('.items-container').html(res);
                            }
                        });
                    }
                });

                $('#inStock').click(function(){
                    var inStock = false;
                    if ($(this).prop('checked')){
                        inStock = true;
                    }
                    $.ajax({
                        url: "{% url 'filter' %}",
                        type: 'get',
                        data:{
                            'inStock': inStock,
                        },
                        success: function(res){
                            $('.items-container').html(res);
                        }
                    });
                });

                $('#price_from').on('input', function(){

                    var price_from = $(this).val();
                    $.ajax({
                        url: "{% url 'filter' %}",
                        type: 'get',
                        data:{
                            'price_from': price_from,
                        },
                        success: function(res){
                            $('.items-container').html(res);
                        }
                    });
                });

                $('#price_to').on('input', function(){

                    var price_to = $(this).val();
                    $.ajax({
                        url: "{% url 'filter' %}",
                        type: 'get',
                        data:{
                            'price_to': price_to,
                        },
                        success: function(res){
                            $('.items-container').html(res);
                        }
                    });
                });

                $('#color').on('change', function(){

                    var color = $(this).val();
                    $.ajax({
                        url: "{% url 'filter' %}",
                        type: 'get',
                        data:{
                            'color': color,
                        },
                        success: function(res){
                            $('.items-container').html(res);
                        }
                    });
                });

                $('.item-container button').click(
                    function(){
                        id = this.id;
                        $.ajax({
                            url: '{% url "addToCart" %}',
                            type: 'post',
                            data:{
                                'id' : id,
                            },
                            success: function(res){
                                var itemslen = parseInt($('#cartItemsCount').text());
                                itemslen += 1;
                                console.log($('#cartItemsCount').text(itemslen));

                                $('#'+id).text("in Cart");
                                $("#"+id).attr("disabled", "true");
                            },
                            failure: function(res) {
                                alert(res);
                            }
                        });
                    }
                );

                $('#cartItemsLink').click(
                    function(){
                        $.ajax({
                            url: "{% url "cardItems" %}",
                            type: 'get',
                            success: function (json_res) {
                                console.log(JSON.stringify(json_res))
                                if(json_res.length > 0) {
                                    $(".modal-body").html("");
                                    $.each(json_res, function (index, item) {
                                        $('.modal-body').append(
                                            "<div>" + item.name + " " + item.price + "</div>"
                                        );
                                    });
                                }
                            }
                        });
                        $('#cartIemsModal').modal('show');
                    }
                );
            }
        );
    </script>
    {% endblock %}
	</body>

</html>