{% load static %}
{% for item in items %}
    <div class="content item-container">
        <div class="col-sm-12 col-md-3 col-lg-3" >
            <img src="{{ item.image }}" />
        </div>

        <div class="col-sm-12 col-md-9 col-lg-9" >
            <ul class="col-sm-12 col-md-3">
                <li>{{ item.name }}</li>
                <li>{{ item.color }}</li>
            </ul>
            <ul class="col-sm-12 col-md-3">
                <li>{{ item.issue_date }}</li>
                <li>
                    {% if item.in_stock %}
                        <i class="fa fa-check-square"></i>
                    {% else %}
                        <i class="fa fa-square"></i>
                    {% endif %}
                    In Stock
                </li>
            </ul>
            <ul class="col-sm-12 col-md-3">
                <li>{{ item.price }} &#x24;</li>
                <li>
                    {% if item.id in cartItemsIds %}
                        <button disabled id="{{ item.id }}"  class="btn btn-default">in Cart</button>
                    {% else %}
                        <button id="{{ item.id }}"  class="btn btn-default">Order</button>
                    {% endif %}
                </li>
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
{% empty %}
    <h1>No items match your query!</h1>
{% endfor %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(
            // Django csrf token setup
            function(){
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                $('.item-container button').click(
                    function(){
                        id = this.id;
                        $.ajax({
                            url: '{% url "addToCart" %}',
                            type: 'post',
                            data:{
                                'id' : id,
                            },
                            success: function(res){
                                var itemslen = parseInt($('#cartItemsCount').text());
                                itemslen += 1;
                                console.log($('#cartItemsCount').text(itemslen));

                                $('#'+id).text("in Cart");
                                $("#"+id).attr("disabled", "true");
                            },
                            failure: function(res) {
                                alert(res);
                            }
                        });
                    }
                );
            }
        );
    </script>