{% extends 'base.html' %}
{% block body %}

<body>

  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <!-- menu area -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="container clearfix">
                <ul id="menu-main" class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li>
                        {% if user.first_name and user.last_name %}
                            <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                        {% elif user.email %}
                            <a href="#">{{ user.email }}</a>
                        {% endif %}
                        </li>

                        <li>
                            <a href="#" id="cartItemsLink">
                                Cart: <span id="cartItemsCount">{{ cartItemsLen }}</span> items
                            </a>
                        </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Log in</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
      </div>
      <!-- header -->
    </div>
    <!-- end container -->
  </header>
  <!-- end header -->

  <!-- end section2 -->

  <div class="content text-center">
  {% if user.is_authenticated %}

      <div class="filter">
          <div class="col-sm-12 filter-row">
              <span class="col-sm-4">
                  From <input type="text" id="date_from" class="datepicker" > <i class="fa fa-calendar"></i>
              </span>
              <span class="col-sm-4">
                  to <input type="text" id="date_to" class="datepicker"> <i class="fa fa-calendar"></i>
              </span>
          <span class="col-sm-4">
              <input type="checkbox" id="inStock"> In stock only
          </span>
          </div>

          <div class="col-sm-12 filter-row">
              <span class="col-sm-4">
                  Price From <input type="text" id="price_from" class="price">
              </span>
              <span class="col-sm-4">
                  to <input type="text" id="price_to" class="price">
              </span>
              <span class="col-sm-4">
                  Color
                  <select id="color">
                      <option value="None">Select</option>
                      <option value="Black">Black</option>
                      <option value="Red">Red</option>
                      <option value="Blue">Blue</option>
                  </select>
              </span>
          </div>
          <hr width="50%" style="margin:auto; margin-bottom: 40px; height:1px;border:none;color:#333;background-color:#333;">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 items-container"  >
      {% for item in data %}

          <div class="content item-container">

              <div class="col-sm-12 col-md-3 col-lg-3" >
                  <img src="{{ item.image }}" />
              </div>

              <div class="col-sm-12 col-md-9 col-lg-9" >
                  <ul class="col-sm-12 col-md-3">
                      <li>{{ item.name }}</li>
                      <li>{{ item.color }}</li>
                  </ul>
                  <ul class="col-sm-12 col-md-3">
                      <li>{{ item.issue_date }}</li>
                      <li>
                          {% if item.in_stock %}
                              <i class="fa fa-check-square"></i>
                          {% else %}
                              <i class="fa fa-square"></i>
                          {% endif %}
                            In Stock
                      </li>
                  </ul>
                  <ul class="col-sm-12 col-md-3">
                      <li>{{ item.price }} &#x24;</li>
                      <li>
                      {% if item.id in cartItemsIds %}
                          <button disabled id="{{ item.id }}"  class="btn btn-default">in Cart</button>
                      {% else %}
                          <button id="{{ item.id }}"  class="btn btn-default">Order</button>
                      {% endif %}
                      </li>
                  </ul>

              </div>
              <div class="clearfix"></div>
          </div>
    {% endfor %}
      </div>
  {% else %}
      <div class="general-title">
          <h3>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">signup</a> to view our items</h3>
      </div>
  {% endif %}

  </div>
  <!-- end section1 -->

<!-- Modal -->
<div class="modal fade" id="cartIemsModal" tabindex="-1" role="dialog" aria-labelledby="cartIemsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartIemsLabel">Cart Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h3>Cart is empty!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
