{% extends 'auth_base.html' %}
{% block title %}
    {{ block.super }} - Login
{% endblock %}
{% block body %}

    {% if form.non_field_errors %}
        <h2 class="alert alert-danger" style="margin-top: 0; text-align: center">
        {% for err in form.non_field_errors %}
            {{ err }}
        {% endfor %}
        </h2>
    {% elif form.errors %}

    <h2 class="alert alert-danger" style="margin-top: 0; text-align: center">
        {% for field in form %}
            {% for error in field.errors %}
                {{ field.name|capfirst }} : {{ error }}
                <br />
            {% endfor %}
        {% endfor %}
    </h2>
    {% endif %}
<div class="templatemo-content-widget templatemo-login-widget white-bg">
    <form method="post" novalidate class="templatemo-login-form">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="form-group">
            <button type="submit" class="templatemo-blue-button width-100">log in!</button>
        </div>
    </form>
</div>
<div class="templatemo-content-widget templatemo-login-widget templatemo-register-widget white-bg">
    <p>Don't have an account? <strong><a href="{% url 'signup' %}" class="blue-text">Signup now!</a></strong></p>
</div>
{% endblock %}