* {
  margin: 0;
  padding: 0px;
  font-family: 'Ruda', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  height: 100%;
  z-index: 1000;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Ruda', sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #696E74;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

div.body {
  height: 100%;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}
.grid{
  margin: 0 auto;

}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

a img {
  border: none;
  vertical-align: bottom;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
  margin-bottom: 20px;
}

a img {
  border: none;
}

ul, ol, dl {
  margin-left: 30px;
}

ul, ol, dl {
  margin-bottom: 1.25em;
  font-family: inherit;
}

ul, ol {
  margin-left: 0;
}

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
}

ul li ul, ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

ol li ul, ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75em;
}

.lead {
  font-size: 21px;
  padding: 15px 0;
  font-weight: 400;
}

section::before, section::after {
  position: absolute;
  content: '';
  pointer-post-wraps: none;
}

.first {
  clear: both
}

.last {
  margin-right: 0
}

/*Bootstrap Modifications*/

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
  background: #eee;
}

input, button, select, textarea {
  margin-bottom: 10px;
}


.icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 10px;
  ;
}

.datepicker{
  width: 100px;
}

/*	################################################################
	2. SITE STRUCTURES
################################################################# */

.page-header {
  border-bottom: 1px solid #EEEEEE;
  margin: 0 0;
  padding-bottom: 0;
}

body.nobg {
  padding: 0px !important;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background: #FFFFFF;
  height: 100%;
}

.notfound .small-title {
  margin: 30px 0;
  width: 60%;
  font-weight: 300;
  line-height: 1.5;
}

body.nobg #layerslider * {
  font-weight: 300;
}

body.nobg #layerslider h1 {
  font-size: 30px;
  color: #eee;
}

body.nobg #layerslider {
  position: absolute;
  z-index: 1;
}

body.nobg .section1 {
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  position: relative;
  top: 20%;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
   }
}
@media (max-width: 768px) {
  #intro {
    background-attachment: scroll;
  }

  #intro h1 {
    font-size: 28px;
  }

  #intro p {
    font-size: 15px;
  }
}

#message {
  margin: 10px 0;
  padding: 0;
}

.error_message {
  display: block;
  height: 22px;
  line-height: 22px;
  /*background: #FBE3E4 url("../img/error.gif") no-repeat 10px center;*/
  background: #FBE3E4;
  padding: 3px 10px 3px 35px;
  color: #8a1f11;
  border: 1px solid #FBC2C4;
  -webkit-border-radius: 5px;
}

.header {
  background: #ffffff;
  display: block;
  position: relative;
  z-index: 99;
}

.site-header {
  padding: 40px 0 0;
}


.title-area {
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

#menu-main{
  width: 100%;
  text-align: center;
  display:block;
}
#menu-main li {
    display: inline-block;
    float: none;
    vertical-align: top;
}
#menu-main a{
  display: block;
  padding: 10px;
}

.section1 {
  background: #ffffff;
  padding: 30px 0;
}

.section2 {
  background: #ffffff;
  padding: 30px 0;
}

.button i {
  padding: 0 3px;
}

.item-container{
  width:100%;
  max-width: 970px;
  margin:  auto!important;;
  margin-bottom:20px!important;
  padding: 0px;
  background: #FFFFFF;
  border: 1px #000 solid;
}
.item-container img{
  width: 150px;
  height: 150px;
  margin: 0px;
}
.item-container ul{
  margin: 0px 0 0 0;
  list-style: none;
}

.item-container li{
  margin: 0 0 30px 0;
}

.item-container button{
  box-shadow: 2px 4px #888888;
}

.general-title p {
  color: #000!important;
  font-family: 'Ruda', sans-serif !important;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  padding: 10px 0;
}
.filter{
  margin: auto;
  max-width: 970px;
}
.filter-row{
  margin-bottom: 50px;
}

.checkout td a {
  padding-left: 20px;
}

.custom-box {
  background: #FFFFFF;
  border: 1px solid #DCDBD7;
  margin: 30px 0;
  padding: 30px 20px 35px;
  text-align: center;
}

.dmbox {
  margin: 0;
  border: 0;
  border: 1px solid #EDEDED;
  background-color: #fff;
  padding: 9px 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.divider {
  margin: 25px 0;
  height: 2px;
  display: block;
  position: relative;
  overflow: hidden;
}

button, .button {
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-color: #696E74;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #3E4246;
}

button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}

button.large, .button.large {
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
  font-size: 1.55rem;
}

button.small, .button.small {
  padding-top: 0.575rem;
  padding-right: 1.75rem;
  padding-bottom: 0.6375rem;
  padding-left: 1.75rem;
  font-size: 1.3125rem;
}

.dmbutton:hover, .dmbutton:active, .dmbutton:focus {
  color: #ffffff;
  background-color: #222222;
  border-color: #ffffff;
}

.dmbutton {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 1.025rem;
  padding-right: 2.25rem;
  letter-spacing: 0.85px;
  padding-bottom: 1.0875rem;
  padding-left: 2.25rem;
  font-size: 1.55rem;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

.dmbutton2:hover, .dmbutton2:active, .dmbutton2:focus {
  color: #2B2E31;
  background-color: #ffffff;
  border-color: #2B2E31;
}

.content {
  padding: 20px 20px 60px 20px;
}

.check li {
  list-style: none;
  margin: 5px 0;
}

.check {
  margin-left: 0;
  padding-left: 0
}

.check li a {
  color: #696E74;
}

@media (max-width: 768px) {
  .notfound {
    background: none;
  }
  .notfound .small-title {
    width: 100%;
  }
  .callus, .search-bar, .post-wrapper-top, .title-area, .social_buttons {
    float: none !important;
    clear: both !important;
    display: block !important;
    text-align: center !important;
  }
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}

section {
  overflow: hidden;
}